<h1>$band.getBandName()</h1>


<a href="/bands/$band.getId()/venues/new">Add a venue</a><br>
<a href="/">Edit band</a><br>
<a href="/">Delete band</a><br>
<a href="/bands">View all bands</a><br>
<a href="/">Home</a><br>
