<h1>Success!</h1>

<p>Your venue, <a href="/venues/$venue.getId()"> $venue.getVenueName()</a>, has been saved.</p>

<a href="/venues/$venue.getId()/bands/new">Add a band</a><br>
<a href="/venues">View all venues</a><br>
<a href="/">Home</a><br>
